.sideBar{
	width: 145px;
	height: 700px;
	float: left;
	background-color: #ffe6f4;
	color: black;
}
a{
color: black;
}
.Info{
	width: 200px;
	height: 700px;
}
.menu{
	margin-top: 10px;
}
input{
	width: 125px;
	height: 20px;
	color: black;
}
label{
	margin-left: 10px;
	font-size: 15px;
}

.block{
	margin-left: 150px;
	padding-right: 50px;
	margin-top: 10px;
	border: 1px solid;
	width: 700px;
	height: 700px;
}