label{
	float: left;
	width: 200px;
}
.error{
	color: red;

}
table{
	margin-top: 15px;
	padding: 5px;	
}
.block{
background-color: #d3d3d3;
height: 650px;
width: 600px;
border: 2px solid;
}
.boxtext{
	width: 200px;
}