.mainDiv{
	margin-left : 180px;
}

.column{
	margin: auto;
	margin-top: 130px;
	margin-left: 20px;
	float: left;
	width: 17%;
	border: 3px solid lightgrey;
	padding: 1px;

}

.block{
align-items: center;
display: flex;
text-align: center;
background-color: black;
height: 280px;
width :199px;
margin: auto;

}

.text{

	margin-left: auto;
	margin-right: auto;
	font-style: ;
	color : white;
}

.image{

height: 30px;
width: 199px;
margin: auto;
display: grid;
text-align: center;
font-style: italic;
color: white;
background-color: grey;
}